<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DocConvert_Server.Config.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DocConvert_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DocConvert_Server.Config.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <DocConvert_Server.Config.App>
            <setting name="logLEVEL" serializeAs="String">
                <value />
            </setting>
        </DocConvert_Server.Config.App>
    </userSettings>
    <applicationSettings>
        <DocConvert_Server.Properties.Settings>
            <setting name="socketPORT" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="serverName" serializeAs="String">
                <value>ConvertServer</value>
            </setting>
            <setting name="socketSessionCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogMaxCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>B29D00A3 - F825 - 4EB7 - 93C1 - A77F5E31A7C2</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value>C:\Data</value>
            </setting>
            <setting name="fileServerPORT" serializeAs="String">
                <value>12100</value>
            </setting>
            <setting name="ConvertVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="webSocketPORT" serializeAs="String">
                <value>12005</value>
            </setting>
            <setting name="FollowTail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="serverIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LicenseKEY" serializeAs="String">
				<value>7kOQCsa87IIeLnU6hQyxTOzuV0Khg5cBBY5B5p75qAuzJlFKnC8zxpcXxyfsFTOLKn7hnUE4RuBi6VJV94/UlYAQT6is46zbBIsDiqck9In2erCV0LpIT6KQjpdK/hC2/O3BUE63gxNIzRv6aWNIFRQYdi7ZYyHD2TR08vDXePk=</value>
            </setting>
        </DocConvert_Server.Properties.Settings>
        <DocConvert_Server.Config.App>
            <setting name="serverIP" serializeAs="String">
                <value />
            </setting>
            <setting name="serverPORT" serializeAs="String">
                <value />
            </setting>
        </DocConvert_Server.Config.App>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
